.App {
  text-align: center;
}

.links {
  display: flex;
  width: 100%;
  background: #8100d1;
  justify-content: center;
  align-items: center;
  height: 60px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
}
.links nav a {
  color: white;
  font-weight: 700;
  border-bottom: 3px solid #00bcd1;
  text-decoration: none;
  padding: 2em 2em 1.4em 2em;
  transition: all 0.4s;
}
.links nav a:hover {
  background: #00bcd1;
  text-decoration: none;
  border-bottom: 3px solid #1a237e;
}
.links nav .active {
  background-color: #8100d1;
  border-bottom-width: 3px;
  border-bottom-color: #1a237e;
}

.github-links {
  background-color: #00bcd1;
  height: 250px;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 30px;
  color: white;
  margin: auto;
}
